<a href="https://colab.research.google.com/github/PhebeJ/ML-Assignment/blob/main/Phebe_Joshua_ML_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **MACHINE LEARNING ASSIGNMENT-1**

---
 Submitted By,

 *Phebe Joshua*

 *M2 IS*
 
 *CET, TVM*
 
---

In [ ]:
# Google colab removes the data directory. If the files are not present download it from external sources

import urllib.request
import os.path

dataFiles = {
    "p1.pdf" : "https://temp-jrj.s3.ap-south-1.amazonaws.com/ml-assignment/p1.pdf",
    "p2.pdf" : "https://temp-jrj.s3.ap-south-1.amazonaws.com/ml-assignment/p2.pdf",
    "p3.pdf" : "https://temp-jrj.s3.ap-south-1.amazonaws.com/ml-assignment/p3.pdf",
    "p4.pdf" : "https://temp-jrj.s3.ap-south-1.amazonaws.com/ml-assignment/p4.pdf",
    "car_dataN.csv" :"https://temp-jrj.s3.ap-south-1.amazonaws.com/ml-assignment/car_dataN.csv",
    "car_data.csv" : "https://temp-jrj.s3.ap-south-1.amazonaws.com/ml-assignment/car_data.csv"
}

for file_name in dataFiles.keys():

    fname = file_name

    if os.path.isfile(fname):
        continue

    print("Downloading" , fname , "form", dataFiles[file_name])
    urllib.request.urlretrieve(dataFiles[file_name], fname)

# 1. Develop a program to find dissimilarity between data objects given in ‘car_dataN.csv’. 

In the dataset, ‘make’ is an ordinal type variable with ranking as follows: 

1. audi 
2. bmw 
3. alfa-romero 
4. chevrolet 
5. dodge. 

Other varables are nominal and numeric types. Identify the most dissimilar tuples.

In [ ]:
import pandas as pd
import numpy as np

Import data from `car_dataN.csv`

In [ ]:
df = pd.read_csv('car_dataN.csv')
df

    Obj Id         make num_of_doors  ... wheel_base  curb_weight  num_of_cylinders
0        1  alfa-romero          two  ...       88.6         2548              four
1        2  alfa-romero          two  ...       88.6         2548              four
2        3         audi          two  ...       99.8         2507              five
3        4         audi         four  ...      105.8         2844              five
4        5         audi         four  ...      105.8         3086              five
5        6         audi          two  ...       99.5         3053              five
6        7          bmw          two  ...      101.2         2395              four
7        8          bmw         four  ...      101.2         2395              four
8        9          bmw         four  ...      110.0         3505               six
9       10    chevrolet          two  ...       88.4         1488             three
10      11    chevrolet          two  ...       94.5         1874              four
11      12    chevrolet         four  ...       94.5         1909              four
12      13        dodge          two  ...       93.7         1876              four
13      14        dodge          two  ...       93.7         1876              four
14      15        dodge          two  ...       93.7         2128              four

[15 rows x 7 columns]

Pre process the data. Replace `make` with ordinal values

In [ ]:
df['make'] = df['make'].replace('audi', 1)
df['make'] = df['make'].replace('bmw', 2)
df['make'] = df['make'].replace('alfa-romero', 3)
df['make'] = df['make'].replace('chevrolet', 4)
df['make'] = df['make'].replace('dodge', 5)

df

    Obj Id  make num_of_doors  ... wheel_base  curb_weight  num_of_cylinders
0        1     3          two  ...       88.6         2548              four
1        2     3          two  ...       88.6         2548              four
2        3     1          two  ...       99.8         2507              five
3        4     1         four  ...      105.8         2844              five
4        5     1         four  ...      105.8         3086              five
5        6     1          two  ...       99.5         3053              five
6        7     2          two  ...      101.2         2395              four
7        8     2         four  ...      101.2         2395              four
8        9     2         four  ...      110.0         3505               six
9       10     4          two  ...       88.4         1488             three
10      11     4          two  ...       94.5         1874              four
11      12     4         four  ...       94.5         1909              four
12      13     5          two  ...       93.7         1876              four
13      14     5          two  ...       93.7         1876              four
14      15     5          two  ...       93.7         2128              four

[15 rows x 7 columns]

Function for calculating the difference of the two rows

In [ ]:
def calcDiffNominal(it1, it2):
    if it1 == it2 :
        return 0
    return 1

def calcDiffOrdinal(it1, it2, range):
    return abs(it1 - it2) / (range - 1)

def calcDiffNumeric(it1, it2):
    return abs(it1 - it2)

def calculateDifference(row1,row2):

    wheelDissm = calcDiffNominal(row1["num_of_doors"], row2["num_of_doors"])
    bodyStyleDissm = calcDiffNominal(row1["body_style"], row2["body_style"])
    cylinDissm = calcDiffNominal(row1["num_of_cylinders"], row2["num_of_cylinders"])

    makeDissm = calcDiffOrdinal(row1["make"], row2["make"], 5)

    wheelBaseDissm = calcDiffNumeric(row1["wheel_base"], row2["wheel_base"])
    curbweightDissm = calcDiffNumeric(row1["curb_weight"], row2["curb_weight"])

    return wheelDissm + bodyStyleDissm + cylinDissm + makeDissm + wheelBaseDissm + curbweightDissm

Iterate over each row and find difference against each rows and find the row with maximum difference.

In [ ]:
maxRow1 = df.head(1)
maxRow2 = df.head(1)
maxDistance = 0;
for index1, row1 in df.iterrows():
    for index2, row2 in df.iterrows():
        if(index2 >= index1):
            break
        currentDistance = calculateDifference(row1,row2)
        if(maxDistance < currentDistance):
            maxDistance = currentDistance
            maxRow1 = row1
            maxRow2 = row2

Finally print the rows

In [ ]:
pd.DataFrame([maxRow1, maxRow2])

   Obj Id  make num_of_doors  ... wheel_base  curb_weight  num_of_cylinders
9      10     4          two  ...       88.4         1488             three
8       9     2         four  ...      110.0         3505               six

[2 rows x 7 columns]



---



---



---



---

# 3. Develop a program to extract all stem words from a given set of documents (paper1, paper2, paper2, paper4). 

Use cosine similarity to find how similar the documents. (You may python libraries to extract stem
words)

In [ ]:
!pip install PyPDF2

Requirement already satisfied: PyPDF2 in /usr/local/lib/python3.7/dist-packages (1.26.0)

In [ ]:
import pandas as pd
import numpy as np
import PyPDF2
from nltk.stem import PorterStemmer

Function to extract words from a pdf file

In [ ]:
def readPdf(fileName):
    finalText = "";
    pdfFileObj = open(fileName, 'rb')
    pdfReader = PyPDF2.PdfFileReader(pdfFileObj) 
    for i in range(0, pdfReader.numPages):
        finalText += pdfReader.getPage(i).extractText()
    pdfFileObj.close()
    return finalText

Function to stem words and calculate the frequency of each word in the document
This function will
 * Remove all special characters. Use only alphabets so that only valid words are cinsidered
 * Skips words with length less than 4. This eliminates common words like `the`, `is`, `was`, etc
 * Skips words with length > 10, this will reduce the chances of concatenated words, URLs etc.

In [ ]:
def calcFreq(text):

    ps = PorterStemmer()

    words = text.split()
    frequency = {}
    for word in words:
        word = ''.join(e for e in word if e.isalpha())
        word = ps.stem(word)

        if len(word) <= 3 or len(word) > 10:
            continue

        if word in frequency:
            frequency[word] += 1
        else:
            frequency[word] = 1
    
    return frequency

Create a word frequency array `wfCount` by steming words extracted form each file

In [ ]:
files = {
    "p1.pdf" : "A High-Throughput Radioactivity-Based Assay for Screening SARS-CoV-2 nsp10-nsp16 Complex", 
    "p2.pdf": "COVID-19 vaccination in patients with multiple sclerosis: What we have learnt by February 2021", 
    "p3.pdf": "Impact of COVID-19 Pandemic on Consumer Economy: Countermeasures Analysis", 
    "p4.pdf": "COVID-19 Impact on the Future of Hospitality and Travel"
}
filenames = files.keys()

wfCount = {}

for fileName in filenames:
    text = readPdf(fileName)
    wordFreqCount = calcFreq(text)
    wfCount[fileName] = wordFreqCount;

Convert the array to pandas data frame
Fill the non numeric values with 0

In [ ]:
df = pd.DataFrame(wfCount)

for fileName in filenames:
    df[fileName] = df[fileName].fillna(0)

df

           p1.pdf  p2.pdf  p3.pdf  p4.pdf
discoveri     6.0     0.0     0.0     0.0
author        3.0     5.0     4.0     2.0
recent        3.0     4.0     1.0     0.0
outbreak      2.0     0.0    19.0     0.0
sever        12.0     6.0     5.0     1.0
...           ...     ...     ...     ...
bachelor      0.0     0.0     0.0     1.0
michigan      0.0     0.0     0.0     2.0
attend        0.0     0.0     0.0     1.0
serv          0.0     0.0     0.0     1.0
assist        0.0     0.0     0.0     1.0

[2296 rows x 4 columns]

Function to find the cosine simlarity

In [ ]:
def findCosim(i1, i2):
    dp = i1.dot(i2)
    len = i1.shape[0] * i2.shape[0]
    return dp/len

Iterate through all files and print the cosine simlarity

In [ ]:
for fileName1 in filenames:
    for fileName2 in filenames:
        if(fileName1 == fileName2):
            break
        cSim = findCosim(df[fileName1], df[fileName2])
        print("Cosine simlarity between", fileName2 , "and", fileName1, "is", cSim)

Cosine simlarity between p1.pdf and p2.pdf is 0.001396156320945987
Cosine simlarity between p1.pdf and p3.pdf is 0.0013373508237322293
Cosine simlarity between p2.pdf and p3.pdf is 0.0016774742318105113
Cosine simlarity between p1.pdf and p4.pdf is 0.00029345840061188066
Cosine simlarity between p2.pdf and p4.pdf is 0.0004194159817407034
Cosine simlarity between p3.pdf and p4.pdf is 0.000949613932426034